.product-center {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 4rem;  */

    padding-top: 5rem;

    /* background: red; */
}

.saleContainer {
    min-height: 100%;
    padding-bottom: 10rem;
    margin: 0 6rem;
}
.contactButton {
    cursor: pointer;
    background: #00cc66;
    border-radius: 1rem;
    padding: 0.85rem 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    width: 80%;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    /* background: yellow; */
    padding: 3rem;
    /* height: 500px; */
    position: relative;
}
.content {
    /* background: blue; */
    /* height: 500px; */
    padding: 3rem 3rem;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
}
.content h2 {
    text-transform: capitalize;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}
.content h4 span {
    font-weight: 400;
}
.content li {
    list-style: none;
}
.price {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    color: rgba(87, 20, 20, 0.658);
}

/* .main {
    position: relative;
    background: blue;
} */
.discount {
    position: absolute;
    height: 25px;
    width: 75px;
    background: red;
    color: #fff;
    padding: 5px;

    top: 6%;
    left: 2%;
}
.product-center img {
    width: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}
.gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}
.gallery img {
    height: 75px;
    cursor: pointer;
}
.active {
    box-shadow: 0px 0px 0px 2px red;
}

@media (max-width: 576px) {
    .imgContainer {
        padding: 2rem;
    }
    .saleContainer {
        margin: 0 1rem;
    }
    .main {
        height: 300px;
    }
    .gallery img {
        width: 5rem;
    }
    .content {
        padding: 1rem 2.5rem;
    }
}
@media (min-width: 992px) {
    .product-center {
        grid-template-columns: 1fr 1fr;
    }
    .main {
        height: 290px;
    }
    .gallery img {
        height: 75px;
    }
    .discount {
        top: 10%;
        left: 2%;
    }
}
